body {
	background-color: olive;
	}
@keyframes thisday {
	from {color: olive;}
	to {color: darkgreen;}
		}
.blink {
	animation-name: thisday;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	}
/*
table {
	border: 1px solid black;
	border-radius: 7px;
	}
*/
td {
	border: 1px solid black;
	border-radius: 4px;
	}
.in_label {
	display: inline-block;
	margin: 0 0.5em 0 0;
	width: 8em;
	height: 1em;
	color: white;
	text-align: right;
	}
input[type=submit] {
	color: red;
	}
fieldset {
	margin: 5px 40px 5px 20px;
	float: left;
	padding: 2em;
	width: 10em;
	border-radius: 10px;
	}
.calendar {
	width: 60%;
	margin: auto;
	}
